<launch>
  <!-- Launch holonomic RDS and its GUI -->
  <include file="$(find rds_ros)/launch/rds_holonomic.launch" />

  <!-- Simulate sensing from 2 LRF -->
  <node name="lrf" pkg="rds_ros" type="rds_ros_fake_lrf_node" />

  <!-- Launch the example node calling RDS -->
  <node name="command" pkg="user_pkg_example" type="holonomic_nominal_command_node" output="screen"/>
</launch>