<launch>
  <node pkg="tf2_ros" type="static_transform_publisher"
		name="tf_rear_lidar_broadcaster"
		args="0 0 0 0 0 0 1 main_body_frame tf_rds" />
  <node name="rds" pkg="rds_ros" type="rds_ros_node" />
  <node name="gui" pkg="rds_gui_ros" type="rds_gui_ros_node" />
  <node name="command" pkg="rds_ros" type="rds_ros_nominal_command_node" output="screen"/>
  <node name="lrf" pkg="rds_ros" type="rds_ros_fake_lrf_node" />
</launch>