<launch>
  <include file="$(find rds_ros)/launch/rds_velodyne.launch"/>
  <node name="rds_ros" pkg="rds_ros" type="rds_ros_node" />
  <node name="lidar_to_lrf_node" pkg="rds_ros" type="rds_ros_lidar_to_lrf_node" />
  <!--<node name="nominal_command_node" pkg="rds_ros" type="rds_ros_nominal_command_node" />/-->
</launch>