<launch>
	<node pkg="tf2_ros" type="static_transform_publisher"
		name="tf_front_lidar_broadcaster"
		args="-0.035 0 -0.280 0 -0.0261769 0 0.9996573 tf_front_lidar tf_qolo" />

	<node pkg="tf2_ros" type="static_transform_publisher"
		name="tf_rear_lidar_broadcaster"
		args="0.45 0 -0.280 0 0 0 1 tf_rear_lidar tf_qolo" />
</launch>
